.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.name {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  width: 720px;

  text-align: center;
  
  background: linear-gradient(to right, #777 20%, #00fbb0 40%, #00fbb0 60%, #777 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 4s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: auto;
  margin: 0 auto;
  list-style: none;
  flex-wrap: wrap;
  padding: 0 20px;
}

.menu li {
  width: auto;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
  flex: 1 0 60%;

  a {
    font-size: 22px;
    color: #777;
    text-decoration: none;
    transition: all 0.45s;
  }

  &:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIzOTBweCIgaGVpZ2h0PSI1MHB4IiB2aWV3Qm94PSIwIDAgMzkwIDUwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAzOTAgNTAiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDBGQkIwIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMA0KCWMxMy43NSwwLDI4Ljc0LTM4Ljc3OCw0Ni4xNjgtMTkuNDE2QzE5Mi42NjksNDYuNSwyNDMuNjAzLDQ3LjU4NSwyNjAsNDcuNTg1YzMxLjgyMSwwLDEzMCwwLDEzMCwwIi8+DQo8L3N2Zz4NCg==");
    animation: line 2s;
  }

  &:hover a {
    color: #00FBB0;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

@media (min-width: 768px) {
  .menu li {
    flex: 1 0 auto; /* On larger screens, the items can be their natural width */
  }
}